# Fundamentos de programação III

## Funções

In [ ]:
def mul(a,b):
    x = a*b
    return x
mul(4,5)

20

In [ ]:
print(mul(4,5))
print(mul(-2,10))
print(mul(4,mul(2,5)))

20
-20
40

In [ ]:
def diga_ola():
    print("ola!!!")
diga_ola()
diga_ola()

ola!!!
ola!!!

In [ ]:
def ordena(a,b):
    if a > b:
        return a, b
    return b, a

print(ordena(5,3))
print(ordena(3,5))

(5, 3)
(5, 3)

In [ ]:

x = 200
print("print A:",x)

def mostraX(x):
    print("print C:",x)
    x = 3
    print("print D:",x)

print("print B:",x)
mostraX(10)
print("print E:",x)

print A: 200
print B: 200
print C: 10
print D: 3
print E: 200

In [ ]:
def calcular_imposto(salario, taxa=0.1):
    imposto = salario * taxa
    print("imposto de:", imposto)

calcular_imposto(5000, 0.15)
calcular_imposto(5000, 0.1)
calcular_imposto(5000)

imposto de: 750.0
imposto de: 500.0
imposto de: 500.0

## Lamda

In [ ]:
quadrado = lambda x: x ** 2
quadrado(4)

16

In [ ]:
eh_par = lambda x: (x % 2) == 0
eh_par(4)

True

## Map

In [ ]:
frutas = ['Banana', 'Pera', 'Tomate']
tamanhos = map(len, frutas)
print(list(tamanhos))

[6, 4, 6]

In [ ]:
lista_quadrados = list(map(quadrado, [3,4,5]))
print(lista_quadrados)

[9, 16, 25]

## Date/Time

In [ ]:
from datetime import date

aniversario = date(2023, 1, 25)
print(aniversario)

2023-01-25

In [ ]:
date.today()

datetime.date(2023, 4, 12)

In [ ]:
from datetime import datetime
str(datetime.now())

'2023-04-12 23:43:30.593804'

In [ ]:
aniversario = date(2023, 1, 25)
formatado = aniversario.strftime("%d/%m/%Y")
print(formatado)

25/01/2023

In [ ]:
from datetime import datetime
volta_aniversario = datetime.strptime(formatado, "%d/%m/%Y")
volta_aniversario

datetime.datetime(2023, 1, 25, 0, 0)

In [ ]:
from datetime import date, timedelta

hoje  = date.today()
ontem = hoje - timedelta(days=1)

print(hoje)
print(ontem)

2023-04-12
2023-04-11

In [ ]:
aniversario = date(2023, 1, 25)
proximo_aniversario = aniversario.replace(year=aniversario.year + 1)

print(aniversario)
print(proximo_aniversario)

2023-01-25
2024-01-25

## Boas práticas de programação

In [ ]:
def converte(c):
    f = (c * 9/5) + 32
    return f

In [ ]:
def celsius_para_fahrenheit(celsius):
    """
    Converte uma temperatura em
    graus Celsius para Fahrenheit.
    """
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit