In [16]:
print("Hello Word")

Hello Word

In [17]:
var_int = 1
print(var_int)

1

In [18]:
var_str = "Dont Panic"
var_float = 2.0
var_float,var_str

(2.0, 'Dont Panic')

In [19]:
#Teste 
import random
for i in range(1,10):
    numero_min = 0
    numero_max = 100
    var_sub =  random.randint(numero_min,numero_max)
    print(f'O número é {var_sub}')

O número é 34
O número é 64
O número é 51
O número é 50
O número é 63
O número é 46
O número é 31
O número é 100
O número é 55

In [33]:
var_bool = True
var_bool
print(var_float)
type(var_bool)

2.0

bool

In [31]:
idade = int(input(f'Sua idade é:'))
print(f"Olá, minha idade é {idade}")

Olá, minha idade é 28

In [35]:
#Operações

x = 10
y = 20
z = 3

soma = x+y
sub = y-z
mult = y/x

print(soma,sub,mult)

30 17 2.0

In [36]:
potencia = x**z
modulo =  x%z
div_int = x//z
print(potencia,modulo,div_int)

1000 1 3

In [41]:
print( x == 12)
print(x == y)
print(x == x)

False
False
True

In [44]:
print(0< x and x<100)
print((10 == x) or (10 ==y)) #uma das funções serem verdadeiras
print(not True) #Não é true é...

True
True
False

In [47]:
#Estruturas de Dados
minha_lista = [ 1,2.2, "tres", 4.0]
minha_lista[2]

'tres'

In [56]:
minha_lista2 = [5,6,[7,8]]
minha_lista2
minha_lista2[2]

[7, 8]

In [58]:
# Adicionando informações
minha_lista2.append('noventa')
minha_lista2

[5, 6, [7, 8], 'noventa', 'noventa']

In [61]:
lista_completa = minha_lista + minha_lista2
lista_completa

[1, 2.2, 'tres', 4.0, 5, 6, [7, 8], 'noventa', 'noventa']

In [64]:
lista_ordernar = [5,6,8,4,1,2]
lista_ordernar.sort()
lista_ordernar

[1, 2, 4, 5, 6, 8]

In [69]:
#Dicionario

meu_dic = {"Chave1":"Valor1","Chave2":"Valor2","Chave3":[1,2]}
meu_dic

{'Chave1': 'Valor1', 'Chave2': 'Valor2', 'Chave3': [1, 2]}

In [71]:

joao = {"Nome":"Joao Silva","Idade":56} #{} chaves
joao["Altura"]= 1.81

In [72]:
joao

{'Nome': 'Joao Silva', 'Idade': 56, 'Altura': 1.81}

In [75]:
minha_tupla= (1,"dois",3.0) # (): parênteses
minha_lista = [1,"dois",3.0] # [ ]: colchetes
minha_lista[-1]

3.0

In [81]:
minha_lista = [ 1,20,50,60,80,90,1000]
print(minha_lista[:3])
print(minha_lista[1:3])
print(minha_lista[3:])
print(minha_lista[:-2])
print(minha_lista[-2:])

[1, 20, 50]
[20, 50]
[60, 80, 90, 1000]
[1, 20, 50, 60, 80]
[90, 1000]

In [82]:
len(minha_lista) #Tamanho da lista retorna o numero de itens dentro de um objeto

7

In [87]:
minha_lista2 = [[1,2,3],'bm','c']
print(minha_lista2[0])
print(minha_lista2[0][2])
print(minha_lista2[2])

[1, 2, 3]
3
c

In [90]:
string1 = "Hello"
string2 = "World"
concatenada = string1 + " " + string2
concatenada

'Hello World'

In [91]:
nome = "Joao"
idade = 56
frase = "Oi, meu nome é {} e tenho {} anos".format(nome, idade)
print(frase)
print(f"Oi, meu nome é {nome} e tenho {idade} anos")

Oi, meu nome é Joao e tenho 56 anos
Oi, meu nome é Joao e tenho 56 anos

In [93]:
print(frase[:4])
print(frase[4:20])
print(frase[20:])

Oi,
meu nome é Joao
e tenho 56 anos

In [92]:
frase = "Oi, meu nome é Joao e tenho 56 anos"
nova_frase = frase.replace("Joao", "Carlos")
nova_frase

'Oi, meu nome é Carlos e tenho 56 anos'

In [94]:
frase = "      Hello World  "
nova_frase = frase.strip()
print(nova_frase) 

texto = "Hello World!"
texto_maiusculo = texto.upper()
print(texto_maiusculo)  

frase = "Oi, meu nome é Joao e tenho 56 anos"
frase.split(',')

frase.split()

Hello World
HELLO WORLD!

['Oi,', 'meu', 'nome', 'é', 'Joao', 'e', 'tenho', '56', 'anos']

In [113]:

"""Crie uma variável chamada saldo e atribua o valor de 950,60.
Em seguida, pergunte ao usuário quanto dinheiro ele deseja sacar e armazene a resposta em uma variável chamada saque.
Subtraia o valor de saque do valor de saldo e imprima a mensagem "Seu novo saldo é {saldo}."""

saldo = 950.60
saque = float(input("Digite o valor:"))
novo_saldo = saldo - saque
print(f"Seu novo saque é:{novo_saldo}")

Seu novo saque é:820.6

In [132]:
""" 2-Faça um programa que crie uma lista com 5 frutas e permita que o usuário digite o nome de uma fruta. Se for uma fruta repetida deverá ser desconsiderada. """

frutas = ["banana", "maçã", "abacaxi", "laranja", "manga"]

fruta = input("Digite o nome de uma fruta: ")

frutas.append(fruta)

frutas = list(set(frutas))
frutas

['maçã', 'abacaxi', 'Uva', 'banana', 'laranja', 'manga']

In [131]:
"""Faça um programa que peça ao usuário para digitar uma frase e substitua todas as vogais por asteriscos (*)."""

frase = input("Digite uma frase: ")
nova_frase = frase.replace("a","*").replace("e","*").replace("i","*").replace("o","*").replace("u","*")

nova_frase

'Ol* t*d* b*m p*ss**l'